# Task4 Feature Extraction on Coursera MOOC dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
threads = pd.read_csv("course_threads.csv")
infomation = pd.read_csv("course_information.csv")
posts = pd.read_csv("course_posts.csv")

In [3]:
threads.head()

,thread_id,course_id,og_forum,og_forum_id,parent_forum,parent_forum_id,forum_chain,depth,num_views,num_tags,forum_id
0,2,analysenumerique-001,"Questions d'ordre technique (coursera, octave,...",13,Forums,0.0,"Forums/ Questions d'ordre technique (coursera,...",2,277,0,13
1,3,analysenumerique-001,"Questions d'ordre technique (coursera, octave,...",13,Forums,0.0,"Forums/ Questions d'ordre technique (coursera,...",2,572,0,13
2,4,analysenumerique-001,"Questions d'ordre technique (coursera, octave,...",13,Forums,0.0,"Forums/ Questions d'ordre technique (coursera,...",2,196,0,13
3,7,analysenumerique-001,"Questions d'ordre technique (coursera, octave,...",13,Forums,0.0,"Forums/ Questions d'ordre technique (coursera,...",2,135,0,13
4,8,analysenumerique-001,"Questions d'ordre technique (coursera, octave,...",13,Forums,0.0,"Forums/ Questions d'ordre technique (coursera,...",2,188,0,13

In [4]:
#getting the sum of the number of views 
views = threads.groupby('thread_id')['num_views'].sum().reset_index(name='views_sum')

### Number of Views

In [5]:
views.head()

   thread_id  views_sum
0          1      69282
1          2      47771
2          3      56521
3          4      44655
4          5      41345

In [6]:
#transforming votes column values to absolute values and squaring them
posts['votes_squared'] = posts['votes'].abs().pow(2)

In [7]:
posts.head(10)

,post_id,thread_id,course_id,parent_id,order,user_id,user_type,post_time,relative_t,votes,num_words,forum_id,votes_squared
0,3,2,analysenumerique-001,0,1,0,Anonymous,1358942448,-0.404753,2,23,13,4
1,4,2,analysenumerique-001,0,2,3992067770,Instructor,1359109877,-0.373994,0,15,13,0
2,7,2,analysenumerique-001,0,3,3992067770,Instructor,1359129778,-0.370338,1,9,13,1
3,8,2,analysenumerique-001,0,4,0,Anonymous,1359130161,-0.370267,0,2,13,0
4,15,2,analysenumerique-001,0,5,3992067770,Instructor,1359214077,-0.354851,0,31,13,0
5,18,2,analysenumerique-001,0,6,7849522082,Student,1359246298,-0.348931,0,1,13,0
6,4,2,analysenumerique-001,15,0,8489183117,Student,1359259908,-0.346431,-1,10,13,1
7,25,2,analysenumerique-001,0,7,8489183117,Student,1359313313,-0.336619,-1,10,13,1
8,62,2,analysenumerique-001,0,8,3992067770,Instructor,1360576987,-0.104463,0,15,13,0
9,64,2,analysenumerique-001,0,9,3992067770,Instructor,1360597970,-0.100608,0,19,13,0

In [8]:
#getting the total sum of the square of the abs value of votes per thread id
vote_rating = posts.groupby('thread_id')['votes_squared'].sum().reset_index(name='vote_measure')

### Vote Rating

In [9]:
vote_rating.head()

   thread_id  vote_measure
0          1        155135
1          2         71961
2          3         32438
3          4         91554
4          5         27667

In [10]:
#finding the index maximum value of votes per thread id
arg_max = posts.groupby('thread_id')['votes'].idxmax().reset_index(name='arg_max')

### Index of post with maximum vote

In [11]:
arg_max.head()

   thread_id  arg_max
0          1   678823
1          2    20675
2          3   474590
3          4   128612
4          5   616328